<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <tx:annotation-driven/>
    <context:annotation-config/>

    <jdbc:embedded-database id="embeddedDatabase" type="HSQL">
        <jdbc:script location="classpath:sql/schema.sql"/>
    </jdbc:embedded-database>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
        <property name="username" value="dahye"/>
        <property name="password" value="test"/>
    </bean>

    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="userService" class="com.toby.tobyspring.user.service.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="userUpgradePolicy" ref="defaultUserUpgradePolicy"/>
        <property name="mailSender" ref="mailSender"/>
    </bean>

    <bean id="mailSender" class="com.toby.tobyspring.user.service.DummyMailSender"/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="defaultUserUpgradePolicy" class="com.toby.tobyspring.user.service.DefaultUserUpgradePolicy"/>

    <bean id="userDao" class="com.toby.tobyspring.user.dao.UserDaoJdbc">
        <property name="dataSource" ref="dataSource"/>
        <property name="sqlService" ref="sqlService"/>
    </bean>

    <bean id="sqlService" class="com.toby.tobyspring.user.sqlservice.OxmSqlService">
        <property name="unmarshaller" ref="unmarshaller"/>
        <property name="sqlRegistry" ref="sqlRegistry"/>
    </bean>

    <bean id="unmarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="contextPath" value="com.toby.tobyspring.user.sqlservice.jaxb"/>
    </bean>

    <bean id="sqlRegistry" class="com.toby.tobyspring.issuetracker.sqlservice.ConcurrentHashMapSqlRegistry"/>

    <bean id="testUserService"
          class="com.toby.tobyspring.user.service.UserServiceTest$TestUserServiceImpl"
          parent="userService"/>
</beans>