<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
        <property name="username" value="dahye"/>
        <property name="password" value="test"/>
    </bean>

    <bean id="transactionAdvice" class="com.toby.tobyspring.learningtest.proxy.TransactionAdvice">
        <property name="transactionManager" ref="transactionManager"/>
    </bean>

    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="transactionPointcut" class="com.toby.tobyspring.learningtest.proxy.NameMatchClassMethodPointcut">
        <property name="mappedClassName" value="*ServiceImpl"/>
        <property name="mappedName" value="upgrade*"/>
    </bean>

    <bean id="transactionAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="advice" ref="transactionAdvice"/>
        <property name="pointcut" ref="transactionPointcut"/>
    </bean>

    <bean id="userService" class="com.toby.tobyspring.user.service.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="userUpgradePolicy" ref="defaultUserUpgradePolicy"/>
        <property name="mailSender" ref="mailSender"/>
    </bean>

    <bean id="mailSender" class="com.toby.tobyspring.user.service.DummyMailSender"/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="defaultUserUpgradePolicy" class="com.toby.tobyspring.user.service.DefaultUserUpgradePolicy"/>

    <bean id="userDao" class="com.toby.tobyspring.user.dao.UserDaoJdbc">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="testUserService"
          class="com.toby.tobyspring.user.service.UserServiceTest$TestUserServiceImpl"
          parent="userService"/>
</beans>