<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myDataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="org.mariadb.jdbc.Driver"/>
        <property name="url" value="jdbc:mariadb://localhost:63306/toby"/>
        <property name="username" value="jason"/>
        <property name="password" value="qwe123"/>
    </bean>

    <bean id="userDao" class="com.pplenty.studytoby.UserDao">
        <constructor-arg name="dataSource" ref="myDataSource"/>
    </bean>

</beans>