<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="myDataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="org.mariadb.jdbc.Driver"/>
        <property name="url" value="jdbc:mariadb://localhost:63306/toby"/>
        <property name="username" value="jason"/>
        <property name="password" value="qwe123"/>
    </bean>

    <bean id="sqlService" class="com.pplenty.studytoby.sqlservice.BaseSqlService">
        <property name="sqlReader" ref="sqlReader"/>
        <property name="sqlRegistry" ref="sqlRegistry"/>
    </bean>

    <bean id="sqlReader" class="com.pplenty.studytoby.sqlservice.JaxbXmlSqlReader">
        <property name="sqlMapFile" value="src/main/resources/di/user-sqlmap.xml"/>
    </bean>

    <bean id="sqlRegistry" class="com.pplenty.studytoby.sqlservice.HashMapSqlRegistry"/>


    <bean id="userDao" class="com.pplenty.studytoby.UserDaoJdbc">
        <constructor-arg name="dataSource" ref="myDataSource"/>
        <property name="sqlService" ref="sqlService"/>
    </bean>

    <bean id="policy" class="com.pplenty.studytoby.UserLevelUpgradeEventPolicy"/>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="alt1.gmail-smtp-in.l.google.com"/>
    </bean>

    <bean id="userService" class="com.pplenty.studytoby.UserServiceImpl">
        <constructor-arg name="userDao" ref="userDao"/>
        <constructor-arg name="policy" ref="policy"/>
        <constructor-arg name="mailSender" ref="mailSender"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <constructor-arg name="dataSource" ref="myDataSource"/>
    </bean>

    <tx:advice id="transactionAdvice">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:advisor advice-ref="transactionAdvice"
                     pointcut="bean(*Service)"/>
    </aop:config>

    <tx:annotation-driven/>

    <context:annotation-config />

    <!-- 7장 -->
    <bean id="unmarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="contextPath" value="com.pplenty.studytoby.sqlservice.jaxb"/>
    </bean>

</beans>